#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  margin: 0 auto;
  padding: 25px;
  max-width: 560px;
  background-color: rgb(236, 234, 234);
  border-radius: 6px;
}